/*********** Color ***********/
/*********** Text Align ***********/
/*********** Float ***********/
@font-face {
  font-family: GE_SS_Two_Bold;
  src: url("../webfonts/GE_SS_Two_Bold.otf");
}
body {
  font-family: GE_SS_Two_Bold;
  direction: rtl;
  text-align: right;
  width: 100%;
  height: 100%;
  background-image: url(../images/Cutting/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
}

.active_menu_tabs {
  border-bottom: 3px solid #d51b88;
  padding: 0;
}

.header_Nav .navbar_btn {
  background: linear-gradient(#ac1e23, #f60811);
  height: 100%;
  left: 100%;
  position: fixed;
  width: 60%;
  width: calc(175px);
  top: 0;
  transition: left 0.8s ease-in-out;
  z-index: 9999999999;
  overflow-x: hidden;
}
.header_Nav .navbar_btn .accordion {
  width: 100%;
  max-width: 360px;
  margin: 70px auto 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-right: 0;
}
.header_Nav .navbar_btn .accordion .delete {
  width: 100%;
  padding: 10% 0;
}
.header_Nav .navbar_btn .accordion .delete .close_menu {
  left: 80%;
}
.header_Nav .navbar_btn .accordion .link {
  text-align: right;
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid #fff;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header_Nav .navbar_btn .accordion .link .svg_icons {
  width: 15%;
  fill: #fff;
  float: right;
  margin-left: 2%;
}
.header_Nav .navbar_btn .accordion li:last-child .link {
  border-bottom: 0;
}
.header_Nav .navbar_btn .accordion li i {
  position: absolute;
  top: 18px;
  left: 150px;
  font-size: 1rem;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header_Nav .navbar_btn .accordion li.active_menu_navbar .link {
  color: #f60811;
  background-color: #fff;
}
.header_Nav .navbar_btn .accordion li.active_menu_navbar .link .svg_icons {
  fill: #f60811;
}
.header_Nav .navbar_btn .accordion .nav-item .i_svg {
  width: 15%;
  top: 13px;
  left: 142px;
}
.header_Nav .navbar_btn .accordion .nav-item .i_svg svg {
  fill: #fff;
}
.header_Nav .navbar_btn .accordion .nav-item .dropdown-menu {
  background-color: transparent;
  border: 0;
  text-align: right;
}
.header_Nav .navbar_btn .accordion .nav-item .dropdown-menu .dropdown-item {
  color: #fff;
}
.header_Nav .navbar_btn .accordion .nav-item .dropdown-menu .dropdown-divider {
  border-top: 1px solid #d51b88;
}
.header_Nav .search_btn {
  float: right;
  padding: 12px;
  cursor: pointer;
}
.header_Nav .search_btn a {
  color: #f60811;
}
.header_Nav .search_btn a:hover, .header_Nav .search_btn a:focus {
  color: #f60811;
}
.header_Nav .search_btn a i {
  font-weight: bold;
}

.hamburger-wrapper {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 88%;
  top: 11px;
  transition: background 0.8s ease-in-out;
  z-index: 9999999999;
}
.hamburger-wrapper .burger_svg {
  width: 70%;
  fill: #f60811;
}

/* hamburger */
.hamburger {
  color: #fff;
  font-size: 1.25rem;
  position: absolute;
  top: 0.25rem;
  left: 1rem;
  transition: background 0.8s ease-in-out;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .hamburger-wrapper {
  background: transparent;
}

#menu-toggle:checked + label .burger-label {
  color: #fff;
}

#menu-toggle:checked ~ .navbar_btn {
  left: 51.25%;
}

.search_modal .modal {
  z-index: 10000000000000002000000;
}
.search_modal .modal-body .search_form {
  margin-top: 0;
}
.search_modal .modal-body .search_form .search-container {
  width: 100%;
}

.search_form {
  margin-top: 7%;
}
.search_form .find_your_food {
  color: #f60811;
}
.search_form .search-container {
  width: 85%;
  display: flex;
  margin: 4% auto;
  position: relative;
}
.search_form .search-container .search-bar {
  color: #f60811;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  font-size: 1rem;
  border: 0;
  outline: none;
  border-radius: 500px;
  box-shadow: 0px 0px 27px 0 #868383;
}
.search_form .search-container .search-bar:focus {
  border: 1px solid #f60811;
  transition: 0.35s ease;
  color: #f60811;
  font-weight: bold;
  box-shadow: 0 0 0 0.05rem #f60811;
}
.search_form .search-container .search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search_form .search-container .search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search_form .search-container .search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search_form .search-container .search-icon {
  color: #f60811;
  position: absolute;
  top: 4%;
  right: 86%;
}
.search_form .search-container .search-icon i {
  font-weight: bold;
}
.search_form .search-container .search-icon:focus, .search_form .search-container .search-icon:hover {
  box-shadow: none;
}

.main {
  padding-top: 10%;
  padding-bottom: 7%;
}
.main .all_ramdan .ramdan_menu {
  color: #fff;
  background: linear-gradient(#ac1e23, #f60811);
  width: 50%;
  margin: auto;
  padding: 2% 0;
  margin-bottom: 2rem;
}
.main .all_ramdan .ramdan_category {
  position: relative;
  margin-bottom: 5%;
  padding: 6%;
  background-color: #f60811;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.main .all_ramdan .ramdan_category.ramdan_category_last {
  padding: 3%;
  width: 50%;
  margin: auto;
}
.main .all_ramdan .ramdan_category .ramdan_category_img {
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.main .all_ramdan .ramdan_category .ramdan_category_title {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 7%;
}
.main .list_category .ramdan_menu {
  color: #f60811;
  width: 60%;
  margin: auto;
  padding: 2% 0;
  margin-bottom: 1.5rem;
}
.main .list_category .ramdan_category_last {
  margin: auto;
  margin-bottom: 3%;
  padding: 6%;
  background-color: #f60811;
  width: 50%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.main .list_category .ramdan_category_last .ramdan_category_img {
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.main .sub_category .ramdan_menu {
  color: #f60811;
  width: 60%;
  margin: auto;
  padding: 2% 0;
  margin-bottom: 1.5rem;
}
.main .sub_category .ramdan_category {
  margin: auto;
  margin-bottom: 7%;
  padding: 6%;
  background-color: #f60811;
  width: 100%;
  height: 150px;
  display: grid;
  align-content: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.main .sub_category .ramdan_category.ramdan_category_last {
  width: 50%;
  height: 170px;
}
.main .sub_category .ramdan_category .ramdan_category_desc {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
}
.main .inner_category {
  margin-top: 37%;
}
.main .inner_category .video {
  width: 100%;
  height: 240px;
}
.main .inner_category .grid_view {
  margin-top: 3%;
  padding-right: 15px;
  padding-left: 15px;
  width: 70%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.main .inner_category .grid_view .inner_share {
  margin: auto;
  color: #000;
}
.main .inner_category .grid_view .inner_share:hover, .main .inner_category .grid_view .inner_share:focus {
  color: #f60811;
}
.main .inner_category .episode {
  margin-top: 7%;
}
.main .inner_category .episode .episode_title {
  color: #f60811;
  margin-bottom: 0;
}
.main .inner_category .episode .episode_num {
  font-size: 0.8rem;
  padding-right: 2%;
}
.main #error {
  align-items: center;
}
.main #error .card i {
  color: #d51b88;
}
.main #error .card a {
  background-color: #3e0e58;
  color: #fff;
}
.main #error .card a:hover, .main #error .card a:focus {
  box-shadow: 0 0 0 0.2rem #d51b88;
}

.loading-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f60811, #ac1e23);
  z-index: 999999;
}
.loading-overlay .spinner img {
  width: 60%;
  margin-right: 20%;
  margin-top: 60%;
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .header_Nav .search_btn {
    font-size: 1.5rem;
  }
  .header_Nav .navbar_btn {
    width: calc(250px);
  }
  .header_Nav .navbar_btn .accordion .link {
    font-size: 18px;
  }
  .header_Nav .navbar_btn .accordion li i {
    font-size: 20px;
    left: 219px;
  }
  .header_Nav .navbar_btn .accordion .nav-item .i_svg {
    width: 11%;
    left: 215px;
  }

  .hamburger {
    font-size: 1.75rem;
  }

  .hamburger-wrapper {
    left: 92%;
  }

  #menu-toggle:checked ~ .navbar_btn {
    left: 67.4%;
  }

  .search_form {
    margin-top: 3%;
    width: 70%;
    margin: 0 auto;
  }
  .search_form .find_your_food {
    font-size: 1.75rem;
  }
  .search_form .search-container .search-bar,
.search_form .search-container .search-icon {
    font-size: 1.5rem;
    top: -8%;
  }

  .search_modal .modal-dialog {
    max-width: 80%;
  }
  .search_modal .modal-body .search_form {
    margin-top: 0;
    width: 85%;
  }

  .main .all_ramdan {
    margin-top: 8%;
  }
  .main .all_ramdan .ramdan_menu {
    font-size: 1.75rem;
  }
  .main .all_ramdan .ramdan_category .ramdan_category_title {
    font-size: 1.5rem;
    left: 73%;
    top: 36%;
  }
}
@media (min-width: 1024px) and (max-width: 1029.9px) {
  .header_Nav .search_btn {
    font-size: 1.5rem;
  }
  .header_Nav .navbar_btn {
    width: calc(300px);
  }
  .header_Nav .navbar_btn .accordion .link {
    font-size: 22px;
    padding: 15px 50px 15px 15px;
  }
  .header_Nav .navbar_btn .accordion li i {
    font-size: 25px;
    left: 263px;
  }
  .header_Nav .navbar_btn .accordion .nav-item .i_svg {
    width: 11%;
    left: 260px;
  }

  .hamburger {
    font-size: 2rem;
    left: 1.5rem;
  }

  .hamburger-wrapper {
    left: 92%;
  }

  #menu-toggle:checked ~ .navbar_btn {
    left: 70.75%;
  }

  .search_form {
    margin-top: 3%;
    width: 70%;
    margin: 0 auto;
  }
  .search_form .find_your_food {
    font-size: 2rem;
  }
  .search_form .search-container .search-bar,
.search_form .search-container .search-icon {
    font-size: 2rem;
    top: -3%;
    right: 89%;
  }

  .search_modal .modal-dialog {
    max-width: 80%;
  }
  .search_modal .modal-body .search_form {
    margin-top: 0;
    width: 85%;
  }

  .main .all_ramdan {
    margin-top: 8%;
  }
  .main .all_ramdan .ramdan_menu {
    font-size: 2rem;
  }
  .main .all_ramdan .ramdan_category .ramdan_category_title {
    font-size: 1.75rem;
    left: 78%;
    top: 38%;
  }
}
@media (min-width: 1030px) {
  body {
    width: 25%;
    margin: 0 auto;
  }

  .hamburger-wrapper {
    right: 59%;
    width: 4%;
  }
  .hamburger-wrapper .burger_svg {
    width: 43%;
  }

  #menu-toggle:checked ~ .navbar_btn {
    left: 56%;
  }

  .loading-overlay {
    width: 25%;
  }

  .search_form .search-container .search-icon {
    right: 90%;
  }

  .main .sub_category .ramdan_category {
    height: 200px;
  }
  .main .sub_category .ramdan_category.ramdan_category_last {
    height: 210px;
  }
}

/*# sourceMappingURL=style_ar.css.map */
